body {
    text-align: center;
    /*background-image: url("../images/veggiesdark.png");*/
    /*background-size: cover;*/
    
}

#addItemForm {
    display: none;
    margin-top: 40px;
}

#addItemForm input {
        margin-top: 25px;
    }

p#buttons {
    margin-bottom:0px;
}

h1 {
    margin-top: 0px;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 60px;
    margin-bottom: 40px;
}

h3 {
    color: white;
    margin-bottom: 40px;
}
.topSec {
    background-image: url("../images/veggiesdark.png");
    background-size: cover;
}
.centerBlock {
    width: 65%;
    margin: auto;
}

ul {
    margin-top: 50px;
    font-size: 16px;
 
}

    ul.list-group li {
        list-style: none;
        border-style: solid;
        border-width: 1px;
        border-color: #171716;
        padding-left: 15px;
        background-color: #292928;
        color: #48c869;
    }

#viewAll {
    width: 100%;
}

div.panel.panel-default {
    margin-bottom: 0px;
}

img {
    margin-top: 80px;
    width: 60px;
    margin-left: 50px;
}

input {
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0,0.3);
    color: white;
    border-color: white;
    margin-bottom: 30px;
}

#findButton {
    width: 20%;
    background-color: #48c869;
    border-color: white;
}

#addRecipeButton {
    width: 20%;
    background-color: #48c869;
    border-color: white;
}

#buttons {
    padding-bottom: 80px;
}
#recipeName {
    font-family:Arial;
    color:#333;
    font-size:28px;
    
}
#recipeSection {
    text-align: left;
    padding-left: 50px;
    padding-top: 55px;
    background-color: #F2F2F0;
    height: 615px;
}
#recipesTitleBox {
    font-size: 18px;
    text-align: left;
    background-color: #48c869;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
li.list-group-item :hover{
    background-color:#fff;
}

.sidenav {
    text-align: left;
    height: 615px;
    overflow-y: scroll;
    border-radius: 0px;
    background-color: #292928;
    color: white;
}